showScalingList
    : SHOW SCALING LIST
    ;

showScalingStatus
    : SHOW SCALING STATUS jobId
    ;

startScaling
    : START SCALING jobId
    ;

stopScaling
    : STOP SCALING jobId
    ;

dropScaling
    : DROP SCALING jobId
    ;

resetScaling
    : RESET SCALING jobId
    ;

checkScaling
    : CHECK SCALING jobId (BY algorithmDefinition)?
    ;

showScalingCheckAlgorithms
    : SHOW SCALING CHECK ALGORITHMS
    ;

stopScalingSourceWriting
    : STOP SCALING SOURCE WRITING jobId
    ;

checkoutScaling
    : CHECKOUT SCALING jobId
    ;

jobId
    : INT
    ;

algorithmDefinition
    : TYPE LP NAME EQ algorithmName (COMMA PROPERTIES LP algorithmProperties? RP)? RP
    ;

algorithmName
    : IDENTIFIER
    ;

algorithmProperties
    : algorithmProperty (COMMA algorithmProperty)*
    ;

algorithmProperty
    : key=(IDENTIFIER | STRING) EQ value=(NUMBER | INT | STRING)
    ;
